In [1]:
a, b = 10, 20
a+b

30

In [2]:
import sqlite3 
connection = sqlite3.connect('temp.db')
cursor=connection.cursor()
cursor.execute('''create table if not exists data(
    id int,
    name text,
    age int
)''')
data=[
    (1, 'Ivan', 20),
    (2, 'Anna', 15,),
    (3, 'Dima', 14)
]
for n in data:
    if n not in cursor.execute('select * from data'):
        cursor.execute('insert into data values (?, ? ,?)', n)
        connection.commit()
    else:
        print(f'user {n} already in the database')

In [ ]:
for i in cursor.execute('select * from data'):
    print(i)

In [ ]:
import matplotlib.pyplot as plt

fig, ax = plt.subplots()

fruits = ['apple', 'blueberry', 'cherry', 'orange']
counts = [40, 100, 30, 55]
bar_labels = ['red', 'blue', '_red', 'orange']
bar_colors = ['tab:red', 'tab:blue', 'tab:red', 'tab:orange']

ax.bar(fruits, counts, label=bar_labels, color=bar_colors)

ax.set_ylabel('fruit supply')
ax.set_title('Fruit supply by kind and color')
ax.legend(title='Fruit color')

In [4]:
list(cursor.execute('select * from data'))

[(1, 'Ivan', 20), (2, 'Anna', 15), (3, 'Dima', 14)]